extends layout-common

block content-common
    .row
        .col-md-2
            .panel.panel-success
                .panel-heading #{layoutMultichat.people}
                .panel-body
                    block people
        .col-md-5
            .panel.panel-info
                .panel-heading #{layoutMultichat.messages}
                .panel-body
                    block messages
        .col-md-5
            .row
                .col
                    .panel.panel-info
                        .panel-heading
                            ul.nav.nav-tabs.nav-justified
                                li.active
                                    a(href='#audio' data-toggle='tab') #{layoutMultichat.audio}
                        .panel-body
                            .tab-content
                                .tab-pane.fade.in.active#audio
                                    block audio