extends layout-multichat

block people
    div(ng-init='sub="#{sub.userName}%#{sub.name}"')
        div#peopleList(ng-controller='peopleCtrl')
            div(ng-if='data.loading[0] == true')
                md-progress-circular(md-mode='indeterminate')
            div(ng-if='data.loading[0] == false' ng-cloak)
                ul#listGroupPeople.list-group
                    li.list-group-item(ng-repeat='person in data.people')
                        .fa.fa-user-circle.fa &nbsp;
                        | {{person.name}}

block messages

block video

block audio

block videoconference

block geolocation

block drawings

block presentations